html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: #0e291c;
  color: #fafcfb;
  /* background: linear-gradient(0deg, #0e291c 0%, #091a11 100%); */
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
