html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #0e291c;
  color: #fafcfb;
  background: linear-gradient(180deg, #0e291c 0%, #0e291c 66%, #153d2a 100%);
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
